# Local Development (Docker)
DATABASE_URL="postgresql://[user]:[password]@localhost:[port]/[db_name]?schema=public"

# JWT
JWT_SECRET="your-very-very-long-secret-key"
JWT_EXPIRES_IN="1d"

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# App
PORT=4000